.header {
  height: 100px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 0 auto;
}

.header ion-icon {
  color: #ffffff;
}

.header-color {
  background: rgb(206, 1, 1) !important;
}

.setthings {
  display: flex;
  padding: 10px;
}

.setthings ion-avatar ion-img {
  margin-left: 10px;
}

.setting-icons ion-avatar ion-icon {
  color: rgb(232, 1, 1) !important;
  /* background: red; */
}

.backbtnnoti {
  color: #ffffff !important;
  background: fff !important;
}
