.container {
  background-color: rgb(232, 0, 0);
  border-radius: 0 0 5% 5%;
  transition: 0.2s ease-in-out;
  height: 47vh;
  overflow: hidden;
}

.expanded {
  height: 90vh !important;
}

.rewards-statics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.parent {
  padding-top: 6rem;
}

.row {
  width: calc(100% + 100px);
  display: flex;
  justify-content: space-between;
  background-color: rgb(232, 0, 0);
  margin: 20px 10px 0 10px;
}
.logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
}

.logo ion-img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.downArrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.upIcon {
  top: 94.5% !important;
}

.downIcon {
  top: 47% !important;
}

.background {
  background: rgb(232, 0, 0) !important;
}
ion-label {
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
}
ion-text {
  font-size: 13px;
  color: #fafaf1;
}

.expandedSection {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  top: 190px;
  transition: all 0.2s;
}

.total-stacked {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(206, 1, 1) !important;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  height: auto;
}

.total-stacked .total-stacked-item {
  flex: 1;
  padding: 10px 15px;
  white-space: nowrap;
  background: none;
}
@media (max-width:360px){
  .total-stacked{
    width: auto !important;
    height: auto !important;
  }
}

.stacked {
  display: flex;
  background: none;
  padding: 10px;
  width: 90%;
}
.stacked .stacked-item {
  flex: 1;
  padding: 10px 15px;
  white-space: nowrap;
  background: none;
}
.scrollable-content {
  max-height: 370px;
  overflow-y: auto;
  transition: all 0.2s;
}

.scrollable-content::-webkit-scrollbar {
  width: 0;
}
.addPerson,
.addReferralColor {
  color: rgb(232, 0, 0);
}

.icons {
  margin-right: 5px;
}

.body-parts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: transparent;
}
.timeLeft {
  color: black;
}
ion-label h6 {
  color: grey;
}

.bannerHead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23vh;
  /* background: #000; */
}

.banner-container {
  margin-top: 20px;
  height: 130%;
  width: auto;
}

.addReferral {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
