.ion-padding {
  overflow-y: scroll !important;
  max-height: 100vh !important;
}

.stat-container {
  height: 50px;
  box-shadow: 0 0 3px 0 #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.avail {
  height: 100px;
}
.small-text {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}

@media (max-width: 392px) {
  .stat-container {
    height: auto;
    text-align: center;
  }

  .small-text {
    font-size: 10px;
  }

  .avail {
    height: auto;
  }
  .available {
    height: auto;
  }
}

.available {
  height: auto;
}
.available .small-text {
  margin-top: 7px;
}

.statWith {
  margin-top: 20px;
}

.statDet {
  /* display: flex; */
  border-radius: 30px;
  padding: 13px 20px;
  background: rgb(232, 0, 0);
  color: #fff;
}

.statWith ion-icon {
  font-size: 30px;
  margin-left: 40px;
}
.withRew {
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid rgb(232, 0, 0);
  text-align: center;
  margin-top: 15px;
}
