.header-area {
  height: 13vh;
  background-color: rgb(232, 0, 0);
}
.total-stacked-item {
  max-width: calc(50% - 10px);
}

.icon-label-container-swap {
  display: flex;
  justify-content: space-around;
}
.icon-label-item-swap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 200px) {
  .icon-label-container-swap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.icon-label-item-swap ion-icon {
  font-size: 50px;
  color: rgb(232, 0, 0);
  display: block;
}
.icon-label-item-swap ion-label {
  color: black;
  font-size: 20px;
  font-weight: 100;
}

hr {
  margin-top: 1rem;
  background: #f1efef;
}

.swap-section {
  background: #f1efef !important;
  border-radius: 10px 10px;
  box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.75);
}
.swap-section ion-icon {
  font-size: 45px;
  color: rgb(232, 0, 0);
}
.swap-section ion-text,
.label {
  color: black;
  font-size: 20px;
  font-weight: 100;
}
.heartText {
  display: flex;
  align-items: center;
  text-align: center;
  float: right;
}
.heartText ion-icon {
  margin-right: 10px;
}

.token-img {
  height: 39px;
  width: 39px;
  margin-right: 10px;
}

.lockedIcon {
  padding: 5px 0;
  position: relative;
  top: 20px;
  right: 40px;
}

.lockedIcon > ion-text {
  font-size: 14px;
  color: grey;
}
