.header-area-wallet {
  height: 35vh;
  background: rgb(232, 0, 0);
  border-radius: 0 0 5% 5%;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}
.header-area-wallet::-webkit-scrollbar {
  display: none;
}

.icon-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.icon-label-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}
.icon-label-item ion-icon {
  font-size: 50px;
  color: rgb(232, 0, 0);
}
.icon-label-item ion-label {
  color: black;
  font-size: 20px;
  font-weight: 100;
}

hr {
  margin-top: 1rem;
  background: #f1efef;
}

.swap-section {
  background: #f1efef !important;
  border-radius: 10px 10px;
  box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.75);
}
.swap-section ion-icon {
  font-size: 45px;
  color: rgb(232, 0, 0);
}
.swap-section ion-text,
.label {
  color: black;
  font-size: 20px;
  font-weight: 100;
}
.heartText {
  display: flex;
  align-items: center;
  text-align: center;
  float: right;
}
.heartText ion-icon {
  margin-right: 10px;
}

.offers {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 20px;
}

.offers .offer1 {
  border: 1px solid rgb(232, 0, 0);
  border-radius: 20px;
  padding: 10px 20px;
  color: black;
}

.token-img {
  height: 39px;
  width: 39px;
  margin-right: 10px;
}

.lockedIcon {
  padding: 5px 0;
  position: relative;
  top: 20px;
  right: 40px;
}

.lockedIcon > ion-text {
  font-size: 14px;
  color: grey;
}
.rewards-wallet {
  padding-top: 120px;
}
.rewards-wallet ion-label {
  font-weight: 100;
}
.walletParent {
  display: flex;
  justify-content: center;
}

.logoWallet {
  position: relative;
  bottom: 120px;
  font-size: 120px;
  color: #fff;
}

/* .upDownIcon {
  margin-top: 20px;
} */
.downArrow {
  position: absolute;
  top: 32.5vh;
  transition: 0.2s ease-in-out;
}
.upIconWallet {
  position: absolute;
  top: 42.5vh;
}

.walletStats {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.scrollable-content {
  background: transparent;
  position: relative;
  bottom: 17vh;
}
